<!DOCTYPE html>
<html>
<head>
	<title>Timetable #{{ index }}</title>
	<style type="text/css">
		table {
			table-layout: fixed;
			width: 100%;
			height: calc(100% - 80px);
			white-space: nowrap;
		}

		body, html {
			height: 100%;
			margin: 0px;
		}
	</style>
</head>
<body>
	<div>{{ score }}</div>
	<table>
		<thead>
			<tr>
				<th width="60"></th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</tr>
		</thead>
		<tbody>
			{% for time in range(24) %}
			<tr>
				<td>
					{% if time is divisibleby 2 %}
					{% if time > 9 %}
					{{ time // 2 - 4}}:00 pm
					{% else %}
					{{ time // 2 + 8}}:00 am
					{% endif %}
					{% endif %}
				</td>
				{% for day in range(5) %}
					{% if timetable[day][time] %}
						{% set subject, group = timetable[day][time] %}
						<td style="background-color:hsl({{ subject_hues[subject] }}, 100%, {{ group_values[group] }}%);color:{{ 'black' if group_values[group] > 40 else 'white' }}">
							{% if time == 0 or timetable[day][time-1] != timetable[day][time] %}
							{{ subject }} {{ group }}
							{% endif %}&nbsp;
						</td>
					{% else %}
						<td>&nbsp;</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ index - 1 }}">Prev</a> <a href="{{ index + 1 }}">Next</a>
</body>
</html>