<!DOCTYPE html>
<html>
<head>
	<title>Timetables</title>
	<meta charset='utf-8' />
	<link href='/static/fullcalendar.min.css' rel='stylesheet' />
	<script src='/static/lib/moment.min.js'></script>
	<script src='/static/lib/jquery.min.js'></script>
	<script src='/static/fullcalendar.min.js'></script>
	<script>
		var perms = [];
		var current_index = 0;
		var unique_times = {{ j(json_unique_times)|safe }};
		var groups = {{ j(ap.groups)|safe }};
		var subject_hues = {{ j(subject_hues)|safe }};
		var group_values = {{ j(group_values)|safe }};



		function toMoment(day, block) {
			return moment({h: ((block >> 1) + 8), m: ((block & 1) * 30)}).day(day + 1);
		}

		function getColor(key) {
			var split = key.split("|") // split[0] is subject, split[1] is group
			return "hsl(" + subject_hues[split[0]] + ", 100%, " + group_values[split[1]] + "%)";
		}

		function getStartEndMoments(activity) {
			return [toMoment(activity[0], activity[1]), toMoment(activity[0], activity[1] + activity[2])];
		}

		for (var key in unique_times) {
			if (unique_times.hasOwnProperty(key)) {
				var color = getColor(key);
				var prettyName = key.replace("|", "\n");
				unique_times[key] = unique_times[key].map(function(big_arr) {
					return big_arr.map(function(activity) {
						var startEnd = getStartEndMoments(activity);
						return {
							title: prettyName,
							start: startEnd[0],
							end: startEnd[1],
							color: color
						};
					});
				});
			}
		}

		var requesting = false;
		function get_events(callback) {
			if (current_index >= perms.length) {
				if (!requesting) {
					requesting = true;
					$.ajax({
						url: "/perms/" + perms.length + ":" + (perms.length + 1000),
						dataType: "json",
						success: function(arr) {
							perms = perms.concat(arr);
							requesting = false;
							get_events(callback);
						}
					});
				}
				return;
			}
			var events = [];
			for (var i = 0; i < groups.length; i++) {
				var key = groups[i].join("|");
				var to_concat = unique_times[key][perms[current_index][i]];
				events = events.concat(to_concat);
			};
			callback(events);
		}

		function updateIndexDisplay() {
			$("#index").html((current_index + 1).toString());
		}
		
		function decrement() {
			if (current_index != 0) {
				current_index--;
				if (!requesting) {
					$('#calendar').fullCalendar("refetchEvents");
				}
				updateIndexDisplay();
			}
		}

		function increment() {
			current_index++;
			if (!requesting) {
				$('#calendar').fullCalendar("refetchEvents");
			}
			updateIndexDisplay();
		}


		$(document).ready(function() {

			$('#calendar').fullCalendar({
				defaultView: "agendaWeek",
				header: false,
				minTime: "08:00",
				maxTime: "20:00",
				weekends: false,
				allDaySlot: false,
				contentHeight: "auto",
				columnFormat: "ddd",
				events: function(start, end, timezone, callback) {
					get_events(callback);
				}
			});
			$("#prev").click(decrement);
			$("#next").click(increment);
			$(document).keydown(function(event) {
				switch (event.keyCode) {
				case 37:
				case 38:
					decrement();
					break;
				case 39:
				case 40:
					increment();
					break;
				default:
					return;
				}
			});
		});

	</script>
	<style>
	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
	</style>
</head>
<body>
	<h1>Timetable <span id="index">1</span></h1>
	<div id="calendar"></div>
	<button id="prev">Previous</button><button id="next">Next</button>
</body>
</html>